  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/stylesheets/cover.css" rel="stylesheet">
    <link href="static/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div style="padding: 10 10">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Year</th>
                <th>G</th>
                <th>AB</th>
                <th>R</th>
                <th>H</th>
                <th>TWOB</th>
                <th>THREEB</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>CS</th>
                <th>BB</th>
                <th>SO</th>
                <th>IBB</th>
                <th>SH</th>
                <th>SF</th>
                <th>GIDP</th>
              </tr>
            </thead>
            <tbody id="result-body">
            </tbody>
          </table>
        </div>
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">r.a.a.r</h1>
            <p class="lead">request athletes approximately resembled</p>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">query:</span>
                <input id="search-field" type="text" class="form-control" placeholder="enter query" aria-describedby="basic-addon1" onl>
            </div>
            <div>
              <div class="pull-left">
                <h4>currently supported queries:</h4>
                <div style="padding-left:5px">
                  <ul>
                    <li><span class="predicate1">similar</span> <span class="predicate2">to</span> salvidor perez <span class="predicate2">in</span> 2014
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      function Get(yourUrl){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;
      }

      function generateTR(data, index) {
        var tr = document.createElement('tr');
        var th = document.createElement('th');
        th.setAttribute("scope","row");
        th.textContent = index.toString();
        tr.appendChild(th);

        console.log(data);
        for (var i = 0; i < data.length; i++) {
          var td = document.createElement('td');
          td.textContent = data[i]
          tr.appendChild(td)
        }
        return tr
      }

      function emptyElement(element){
        var i = element.childNodes.length;
        while(i--){
          element.removeChild(element.lastChild);
        }
      }

      $("#search-field").keyup(function (e) {
        if (e.keyCode == 13) {
          if ($("#search-field").val().includes("similar to")) {

            var response = Get("http://127.0.0.1:5000/search/"+$("#search-field").val())
            var body = JSON.parse(response)
//             var body = {
//    "athletes": [
//       [
//          1,
//          2,
//          3,
//          4,
//          5,
//          6,
//          7,
//          8,
//          9,
//          10,
//          11,
//          12,
//          13,
//          15,
//          16,
//          17,
//          18,
//          19,
//          20
//       ]
//    ]
}
            var index = 1
            var tbody = document.getElementById("result-body")
            emptyElement(tbody)
            body.athletes = [[1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20]]
            for (var i=0; i < body.athletes.length; i++) {
              console.log(body.athletes[i])
              var trElement = generateTR(body.athletes[i], index);
              tbody.appendChild(trElement)
            }
          }
        }
      });
    </script>
  </body>
